html {
    font-size: 14px;
}

body {
    background-color: white;
    color: black;
}

/* link style */

a {
    text-decoration: none  ;
    color: black;
}
/* a:visited {
    color: black;
}
a:hover, a:active {
    text-decoration: underline;
    color: blue;
} */

a:is(:active,:visited,:hover){
    color: #00f;
    text-decoration: underline;
}
